<launch>
    <rosparam command="load"
              file="$(find sensors_launch)/params/localization.yaml"/>
    <rosparam command="load"
              file="$(find sensors_launch)/params/localization_ie.yaml"/>

    <!-- unscented kalman filter (ukf) fuses imu and encoders for odometry -->               
    <node name="ukf_localization_node" pkg="robot_localization"
          type="ukf_localization_node" output="screen" required="true"
          clear_params="true"/>
</launch>